/* color:#ec1c23; */
/* Start Upper-bar */
.upper-bar{
    background-color: #08526d;
    color:#fff;
    padding: 1rem;
}

.upper-bar span{
    text-transform: uppercase;
    margin-right: 10px;
    color:#d0d5d6
}

.upper-bar .quote{
    border: 2px solid #ec1c23;
    padding: 3px 12px;
    font-size: 12px;

    transition: all 0.3s ease-in-out;
}

.upper-bar .quote:hover{
    background-color: #ec1c23;
    color: #fff;
    cursor: pointer;
}
/* End Upper-bar */

/* Start Navbar */
.navbar-brand span{
    font-size: 2rem;
}
.navbar-brand span:first-child{
    /* color: #08526d; */
    color:#dcdcdc;
    font-weight: bold;
}

.navbar-brand span:last-child{
    color: #ec1c23

}

.navbar-nav .nav-link{
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 20px;
    color: #ddd !important
}

.navbar-nav .active>.nav-link{
    color:#ec1c23 !important;
    font-weight: 600
}

/* End Navbar */